<app-header [titulo]="'Study Manager'"></app-header>
<div style="margin: 15px 15px">
    <div class="highlights">
        <div class="priority-tasks">
            <h3>Top priority tasks</h3>
            <ul>
                @for (task of loadPriorityTasks(); track task.description)
                {
                    <li><a [routerLink]="['/detail', task.id]">{{task.description}}</a></li>
                }   
                @empty
                {
                    <p>Relax, there are no high priority tasks right now.</p>
                }
            </ul>
        </div>
        <div class="late-tasks">
            <h3>Tasks due today</h3>
            <ul>
                @for (task of loadDueTasks(); track task.description)
                {
                    <li><a [routerLink]="['/detail', task.id]">{{task.description}}</a></li>
                }    
                @empty
                {
                    <p> There are no tasks due today, you're doing great!</p>
                }           
            </ul>
        </div>
        <div class="kpis">
            <div>
                <p>Completion rate: {{getCompletionPercentage()}}</p>
            </div>
            <div>
                <p>Number of completed tasks: {{getDoneTasksTotal()}}</p>
            </div>
            <div>
                <p>Number of tasks to be done: {{getDoneIncompleteTotal()}}</p>
            </div>
        </div>
    </div>
    <div style="text-align: center; margin:50px">
        
        @if (loggedIn()) {
            @if (thereAreSubjects())
            {
                <p></p>
                <button type="button" [routerLink]="'/tasklist'">See all tasks</button>
            }
            @else
            {
                <p>There are no subjects!</p>
                <button type="button" [routerLink]="'/add-subject'">Add subjects</button>
            }

            <br>
            <br>
            <!--p>Olá, {{ }}</p>
            <br>
            <br-->
            <button type="button" (click)="logout()">Log out</button>
        }
        @else
        {
            <p>Log in to view and edit task</p>
             <button type="button" [routerLink]="'/login'">Login</button>
        }
        
    </div>   
</div>