.header-top {
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

.options-btn {
    height: 35px;
    margin-top: auto;
    margin-bottom: auto;
    background-color: rgb(251, 134, 154);
}