<app-header [titulo]="'Task list'"></app-header> 
<div class="list-tools">
  <button [routerLink]="'/add-task'">Create new Task</button>
  <select #subjectSelect (change)="onSubjectChange(subjectSelect.value)">
    <option value="All">All</option>
    @for (subject of subjects; track subject.name)
    {
      <option [value]="subject.name">{{subject.name}}</option>
    }
    <option value="Archived">Archived</option>
  </select>
</div>
  @for (task of loadTasks(); track task.description) {
    <div class="task-post">
      <p>@if(task.priority === "High"){‼️} @else if (task.priority === "Medium") {❗} @else {❕} {{task.description}}<p>
      <p>Subject: {{task.subject.name}}</p>
      <p>Due: {{task.dueDate | date:'fullDate' }}</p>
      <button [routerLink]="['/detail', task.id]">More Details</button>
    </div>
  }
  @empty {
    <p style="margin-left: 15px;">No tasks to show!</p>
  }
  <div style="text-align: center;">
    <button [routerLink]="'/dashboard'">Return to dashboard</button>
  </div>

